@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}


.links-container{
    display: flex;
    padding: 1em;
    /* border: solid purple 5px; */
}

.left-links,
.right-links {
    display: flex;
    /* border: solid; */
    flex: 1;
    font-size: 12px;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.right-links {
    display: flex;
    justify-content: flex-end;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

img {
    width: 600px;

}

ul {
    list-style-type: none;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: .5em;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    margin-bottom: 16px;
}

.footer {
    background-color: #eeeeee;
    display: flex;
    align-content: flex-end;
    padding: .5em;

}
